/* SASS custom properties */

// primary
$primary-dark-blue: hsl(243, 87%, 12%);
$primary-desaturated-blue: hsl(238, 22%, 44%);
$primary-red: hsl(0, 100%, 50%);
$primary-white: hsl(0, 0%, 100%);
$primary-black: hsl(0, 0%, 0%);

// Accent
$accent-bright-blue: hsl(224, 93%, 58%);
$accent-moderate-cyan: hsl(170, 45%, 43%);

// neutral
$neutral-grayish-blue: hsl(240, 75%, 98%);
$neutral-light-gray: hsl(0, 0%, 75%);

// fonts
$font-headings: "Raleway", sans-serif;
$font-body: "Open Sans", sans-serif;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* CSS */

body {
  font-family: $font-body;
  font-size: 1.7rem;
}

.head {
  padding: 5rem 7rem 15rem 7rem;
  &-top {
    display: flex;
    justify-content: space-between;

    &__list {
      display: flex;
      gap: 3.5rem;

      &-link {
        text-decoration: none;
      }
    }
  }

  &-bot {
    padding-top: 9rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3.5rem;

    &__img {
      max-width: 100%;
      align-self: center;
    }

    &__lft {
      padding-top: 7rem;

      &-heading {
        margin-bottom: 4rem;
      }

      &-text {
        margin-bottom: 3rem;
      }
    }
  }
}

.form {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  &-lft {
    display: flex;
    flex-direction: column;

    &__input {
      width: 100%;
      padding: 1rem 6.5rem 1rem 1rem;
      outline: none;

      &:invalid {
        border: 1px solid $primary-red;
      }
    }

    &__label {
      padding-top: 0.5rem;
      font-size: 1.1rem;
      color: $primary-red;
      align-self: flex-start;
      opacity: 0;
      transition: all 0.3s;
    }
  }

  &-lft__input:invalid + &-lft__label {
    opacity: 1;
  }
}

.btn {
  padding: 1rem 5.5rem;
  background-color: $accent-bright-blue;
  color: $neutral-grayish-blue;
  border: 1px solid $accent-bright-blue;
  border-radius: 3px;
  box-shadow: 0 1rem 1.5rem rgba($primary-black, 0.25);
  align-self: flex-start;

  &:hover {
    background-color: rgba($accent-bright-blue, 0.7);
    border: 1px solid rgba($accent-bright-blue, 0.7);
  }
}

.sec1 {
  background-image: url(../images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 15rem 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3.5rem;

  &-lft {
    &__heading {
      margin-bottom: 3.5rem;
    }

    &__text {
      margin-bottom: 2rem;
    }

    &__img {
      transform: translateY(3px);
    }

    &__link {
      color: $accent-moderate-cyan;
      text-decoration: none;
      border-bottom: 1px solid $accent-moderate-cyan;
      padding-bottom: 0.5rem;
      cursor: pointer;

      &:hover {
        color: rgba($accent-moderate-cyan, 0.7);
        border-bottom: 1px solid rgba($accent-moderate-cyan, 0.7);
      }
    }

    &__link:hover &__img {
      opacity: 0.7;
    }
  }

  &-img {
    width: 100%;
    align-self: center;
  }
}

.test {
  margin-top: 4.5rem;
  max-width: 75%;
  padding: 3rem;
  background-color: $primary-white;
  box-shadow: 0 1rem 1.5rem rgba($primary-black, 0.3);
  border-radius: 1rem;

  &-text {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    line-height: 1.7;
  }

  &-bot {
    display: flex;

    &__heading {
      font-size: 1.7rem;
    }

    &__text {
      font-size: 1.5rem;
    }

    &__img {
      height: 5rem;
      width: 5rem;
      border-radius: 100px;
      margin-right: 1.5rem;
    }
  }
}

.sec2 {
  padding: 9rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  background-color: $primary-desaturated-blue;

  &-lft {
    &__heading {
      margin-bottom: 2.5rem;
      color: $neutral-grayish-blue;
    }

    &__text {
      color: $neutral-light-gray;
    }
  }

  &-rgt {
    &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.footer {
  background-color: $primary-dark-blue;
  padding: 15rem 9rem;
  position: relative;

  &__logo {
    filter: brightness(0) invert(1);
    margin-bottom: 3.5rem;
  }
}

.foot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  color: $primary-white;

  &-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__item {
      display: flex;
      gap: 2rem;
    }

    &__img {
      width: 25px;
      height: 25px;
    }
  }

  &-nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-column-gap: 5rem;
    grid-row-gap: 2.5rem;
  }

  &-soc {
    align-self: center;
    justify-self: center;
    list-style: none;
    display: flex;
    gap: 2.5rem;

    &__img {
      padding: 1.5rem;
      border: 1px solid $primary-white;
      border-radius: 100px;
      width: 50px;
      height: 50px;
      fill: $primary-white;

      &:hover {
        border: 1px solid $accent-bright-blue;
        fill: $accent-bright-blue;
      }
    }
  }
}

/* Media queries */

@media screen and (max-width: 1050px) {
  .head {
    &-bot {
      display: grid;
      grid-template-rows: min-content 1fr;
      grid-template-columns: 1fr;

      grid-row-gap: 3.5rem;
    }

    &-bot {
      text-align: center;

      &__img {
        grid-row: 1/2;
      }

      &__lft {
        padding-top: 0;
      }

      &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
    }
  }

  .form {
    &-lft__label {
      align-self: flex-start;
    }
  }

  .sec1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    grid-row-gap: 3.5rem;

    &-img {
      grid-row: 1/2;
    }

    &-lft {
      &__heading {
        text-align: center;
      }

      &__text {
        text-align: left;
      }
    }
  }

  .test {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .sec2 {
    justify-items: center;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;

    &-rgt__form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }

  .foot {
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 1fr;
    grid-row-gap: 5rem;

    &-nav {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
  }
  .btn {
    padding: 1rem 10rem;
    align-self: center;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 55%;
  }
  .head {
    padding-top: 5rem 3.5rem 9rem 3.5rem;

    &-top {
      display: flex;
      justify-content: space-between;

      &__list {
        display: flex;
        gap: 1.5rem;
      }

      &__logo {
        max-width: 30%;
      }
    }
  }

  .sec1 {
    padding: 9rem 3.5rem;
    background-image: url(../images/bg-curve-mobile.svg);
  }

  .test {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .sec2 {
    padding: 9rem 3.5rem;
  }

  .footer {
    padding: 9rem 3.5rem;
  }
}
